{% extends "relay-list.html" %}
{% set relay_count = relays.json['relays']|length %}
{% block title %}Relay Radar :: All Relays{% endblock %}
{% block header %}Browse All Relays{% endblock %}
{% block navigation %}
    {{ navigation('all', page_ctx) }}
{% endblock %}
{% block description %}
    Complete listing of all {{ relay_count }} known relays in the Tor network. For a more manageable view, see the <a href="../index.html">top 500 relays</a>.
    <strong>Network Status:</strong> {{ relays.json.smart_context.basic_relationships.template_optimized.total_countries }} countries, 
    {{ relays.json.smart_context.basic_relationships.template_optimized.total_networks }} networks, 
    {{ relays.json.smart_context.capacity_distribution.template_optimized.diversity_status }} capacity distribution, 
    {{ relays.json.smart_context.capacity_distribution.template_optimized.exit_capacity_status }} exit capacity.
{% endblock %}
