{% extends "relay-list.html" %}
{% set relay_count = relays.json['relays']|length %}
{% block title %}Relay Radar :: All Relays{% endblock %}
{% block header %}All Relays{% endblock %}
{% block navigation %}
    {{ navigation('all', is_misc_page=true, breadcrumb_type='misc_listing', breadcrumb_data={'page_name': 'All Relays'}) }}
{% endblock %}
{% block description %}
    Complete listing of all {{ relay_count }} known relays in the Tor network. For a more manageable view, see the <a href="../index.html">top 500 relays</a>.
{% endblock %}
