{% extends "relay-list.html" %}
{% from "macros.html" import navigation, detail_summary %}
{% set as_number = relays.json['relay_subset'][0]['as']|escape %}
{% set as_name = relays.json['relay_subset'][0]['as_name']|escape %}
{% block title %}Tor Relays :: {{ as_name }} ({{ as_number }}){% endblock %}
{% block header %}View {{ as_number }} {{ as_name }} Details{% endblock %}
{% block navigation -%}
{{ navigation('networks', page_ctx) }}
{% endblock -%}
{% block description %}{{ as_number }} {{ as_name }} network summary:
{{ detail_summary(bandwidth, bandwidth_unit, guard_bandwidth, middle_bandwidth, exit_bandwidth, consensus_weight_fraction, guard_consensus_weight_fraction, middle_consensus_weight_fraction, exit_consensus_weight_fraction, guard_count, middle_count, exit_count, relays.json['relay_subset']|length, network_position) }}{% endblock %}
