{% extends "relay-list.html" %}
{% from "macros.html" import navigation, detail_summary %}
{% set as_number = relay_subset[0]['as']|escape %}
{% set as_name = relay_subset[0]['as_name']|escape %}
{% block title %}Tor Relays :: {{ as_name }} ({{ as_number }}){% endblock %}
{% block header %}View {{ as_number }} {{ as_name }} Details{% endblock %}
{% block navigation -%}
{{ navigation('networks', page_ctx) }}
{% endblock -%}
{% block description %}{{ as_number }} {{ as_name }} network summary:
{{ detail_summary(bandwidth, bandwidth_unit, guard_bandwidth, middle_bandwidth, exit_bandwidth, consensus_weight_fraction, guard_consensus_weight_fraction, middle_consensus_weight_fraction, exit_consensus_weight_fraction, guard_count, middle_count, exit_count, relay_subset|length, network_position, page_ctx=page_ctx, unique_aroi_list=unique_aroi_list, unique_contact_list=unique_contact_list, unique_aroi_count=unique_aroi_count, unique_contact_count=unique_contact_count, unique_aroi_contact_html=unique_aroi_contact_html, aroi_to_contact_map=aroi_to_contact_map, total_data_formatted=total_data_formatted, total_data_pct=total_data_pct) }}{% endblock %}
