{% extends "relay-list.html" %}
{% from "macros.html" import navigation %}
{% set country_orig = relays.json['relay_subset'][0]['country_name']|escape %}
{% set country_abbr = relays.json['relay_subset'][0]['country']|escape %}
{% if country_orig in sp_countries %}
    {% set country_name = 'The ' + country_orig %}
{% else %}
    {% set country_name = country_orig %}
{% endif %}
{% block title %}Tor Relays :: {{ country_name }}{% endblock %}
{% block header %}View {{ country_name }} Details{% endblock %}
{% block navigation -%}
{{ navigation('countries', is_misc_page=false, is_relay_page=false, breadcrumb_type='country_detail', breadcrumb_data={'country_name': country_name, 'country_abbr': country_abbr}) }}
{% endblock -%}
{% block description %}
    {{ country_name }} ({{ country_abbr }}) is responsible
    for ~{{ bandwidth }} {{ bandwidth_unit }} of bandwidth (BW)
    {%- if guard_count > 0 or middle_count > 0 or exit_count > 0 %} (
        {%- if guard_count > 0 -%}
            {{ guard_bandwidth }} {{ bandwidth_unit }} guard
            {%- if middle_count > 0 or exit_count > 0 %}, {% endif -%}
        {%- endif -%}
        {%- if middle_count > 0 -%}
            {{ middle_bandwidth }} {{ bandwidth_unit }} middle
            {%- if exit_count > 0 %}, {% endif -%}
        {%- endif -%}
        {%- if exit_count > 0 -%}
            {{ exit_bandwidth }} {{ bandwidth_unit }} exit
        {%- endif -%}
    )
    {%- endif %} and {{ "%.2f%%"|format(consensus_weight_fraction * 100) }} consensus weight (CW)
    {%- if guard_count > 0 or middle_count > 0 or exit_count > 0 %} (
        {%- if guard_count > 0 -%}
            {{ "%.2f%%"|format(guard_consensus_weight_fraction * 100) }} guard
            {%- if middle_count > 0 or exit_count > 0 %}, {% endif -%}
        {%- endif -%}
        {%- if middle_count > 0 -%}
            {{ "%.2f%%"|format(middle_consensus_weight_fraction * 100) }} middle
            {%- if exit_count > 0 %}, {% endif -%}
        {%- endif -%}
        {%- if exit_count > 0 -%}
            {{ "%.2f%%"|format(exit_consensus_weight_fraction * 100) }} exit
        {%- endif -%}
    )
    {%- endif %}, with
    {% if guard_count > 0 %}
        {{ guard_count }} guard relay
        {%- if guard_count > 1 -%}s{%- endif -%}
        {% if middle_count > 0 or exit_count > 0 %},{% endif %}
    {% endif %}
    {% if middle_count > 0 %}
        {{ middle_count }} middle relay
        {%- if middle_count > 1 -%}s{%- endif -%}
        {% if exit_count > 0 %}
            and
        {% endif %}
    {% endif %}
    {% if exit_count > 0 %}
        {{ exit_count }} exit relay
        {%- if exit_count > 1 -%}s{%- endif -%}
    {%- endif -%}
    .
{% endblock %}
