{% extends "relay-list.html" %}
{% from "macros.html" import navigation %}
{% block title %}Tor Relays :: Family {{ value|escape }}{% endblock %}
{% block header %}
    <a href="../../">Home</a> :: Family <code>{{ value|escape }}</code>
{% endblock %}
{% block navigation -%}
{% set family_hash = value %}
{{ navigation('families', is_misc_page=false, is_relay_page=false, breadcrumb_type='family_detail', breadcrumb_data={'family_hash': family_hash, 'aroi_domain': 'none'}) }}
{% endblock -%}
{% block description %}
    Relays with effective family member
    <code> {{ value|escape }}</code> are responsible for ~{{ bandwidth }} {{ bandwidth_unit }} of bandwidth (BW)
    {%- if has_typed_relays %} (
        {%- if has_guard -%}
            {{ guard_bandwidth }} {{ bandwidth_unit }} guard
            {%- if has_middle or has_exit %}, {% endif -%}
        {%- endif -%}
        {%- if has_middle -%}
            {{ middle_bandwidth }} {{ bandwidth_unit }} middle
            {%- if has_exit %}, {% endif -%}
        {%- endif -%}
        {%- if has_exit -%}
            {{ exit_bandwidth }} {{ bandwidth_unit }} exit
        {%- endif -%}
    )
    {%- endif %} and {{ consensus_weight_percentage }} consensus weight (CW)
    {%- if has_typed_relays %} (
        {%- if has_guard -%}
            {{ guard_consensus_weight_percentage }} guard
            {%- if has_middle or has_exit %}, {% endif -%}
        {%- endif -%}
        {%- if has_middle -%}
            {{ middle_consensus_weight_percentage }} middle
            {%- if has_exit %}, {% endif -%}
        {%- endif -%}
        {%- if has_exit -%}
            {{ exit_consensus_weight_percentage }} exit
        {%- endif -%}
    )
    {%- endif %}, with
    {% if has_guard %}
        {{ guard_count }} {{ guard_relay_text }}
        {% if has_middle or has_exit %},{% endif %}
    {% endif %}
    {% if has_middle %}
        {{ middle_count }} {{ middle_relay_text }}
        {% if has_exit %} and{% endif %}
    {% endif %}
    {% if has_exit %}
        {{ exit_count }} {{ exit_relay_text }}
    {%- endif -%}
        .
{% endblock %}
