{% extends "relay-list.html" %}
{% from "macros.html" import navigation %}
{% block title %}Tor Relays :: {{ value }}{% endblock %}
{% block header %}<a href="../../">Home</a> :: {{ value }}{% endblock %}
{% block navigation -%}
{{ navigation('misc', is_misc_page=false, is_relay_page=false, breadcrumb_type='first_seen_detail', breadcrumb_data={'date': value}) }}
{% endblock -%}
{% block description %}
    Relays started on {{ value }} are responsible for ~{{
    bandwidth }} {{ bandwidth_unit }} of bandwidth (BW)
    {%- if guard_count > 0 or middle_count > 0 or exit_count > 0 %} (
        {%- if guard_count > 0 -%}
            {{ guard_bandwidth }} {{ bandwidth_unit }} guard
            {%- if middle_count > 0 or exit_count > 0 %}, {% endif -%}
        {%- endif -%}
        {%- if middle_count > 0 -%}
            {{ middle_bandwidth }} {{ bandwidth_unit }} middle
            {%- if exit_count > 0 %}, {% endif -%}
        {%- endif -%}
        {%- if exit_count > 0 -%}
            {{ exit_bandwidth }} {{ bandwidth_unit }} exit
        {%- endif -%}
    )
    {%- endif %}, with
    {% if guard_count > 0 %}
        {{ guard_count }} guard relay
        {%- if guard_count > 1 -%}s{%- endif %}
        {% if middle_count > 0 or exit_count > 0 %},{% endif %}
    {% endif %}
    {% if middle_count > 0 %}
        {{ middle_count }}
        middle relay
        {%- if middle_count > 1 -%}s{%- endif %}
        {% if exit_count > 0 %}
            and {% endif %}
    {% endif %}
    {% if exit_count > 0 %}
        {{ exit_count }} exit relay
        {%- if exit_count > 1 -%}
            s
        {%- endif -%}
    {%- endif -%}
    .
{% endblock %}
