{% extends "skeleton.html" -%}
{% set sorted_by_label = sorted_by.split(',')[0].split('.')[1] -%}
{% block title -%}
    Tor Relays :: Networks By {{ sorted_by_label|replace('_',
    ' ')|title }}
{% endblock -%}
{% block body -%}
    <h2>
        <a href={{ path_prefix }}>Home</a> :: Networks By {{
        sorted_by_label|replace('_', ' ')|title }}
    </h2>
    <p>
        Last fetch was at {{ relays.timestamp }}.
        The set of all ({{ relays.json['sorted']['as']|length }}) recognized networks
        running at least one relay sorted by {{ sorted_by_label|replace('_', ' ') }}.
        This data is onionoo-derived and might be out of date with respect to other
        sources.
    </p>
    <table class="table table-condensed">
        <tr>
            <th>AS Number</th>
            <th>AS Name</th>
            <th>Country</th>
            {% if sorted_by_label == 'bandwidth' -%}
                <th>Overall / <a href="networks-by-guard-bandwidth.html">Guard</a> / <a href="networks-by-middle-bandwidth.html">Middle</a> / <a href="networks-by-exit-bandwidth.html">Exit</a> Bandwidth</th>
            {% elif sorted_by_label == 'guard_bandwidth' -%}
                <th><a href="networks-by-overall-bandwidth.html">Overall</a> / Guard / <a href="networks-by-middle-bandwidth.html">Middle</a> / <a href="networks-by-exit-bandwidth.html">Exit</a> Bandwidth</th>
            {% elif sorted_by_label == 'middle_bandwidth' -%}
                <th><a href="networks-by-overall-bandwidth.html">Overall</a> / <a href="networks-by-guard-bandwidth.html">Guard</a> / Middle / <a href="networks-by-exit-bandwidth.html">Exit</a> Bandwidth</th>
            {% elif sorted_by_label == 'exit_bandwidth' -%}
                <th><a href="networks-by-overall-bandwidth.html">Overall</a> / <a href="networks-by-guard-bandwidth.html">Guard</a> / <a href="networks-by-middle-bandwidth.html">Middle</a> / Exit Bandwidth</th>
            {% else -%}
                <th><a href="networks-by-overall-bandwidth.html">Overall</a> / <a href="networks-by-guard-bandwidth.html">Guard</a> / <a href="networks-by-middle-bandwidth.html">Middle</a> / <a href="networks-by-exit-bandwidth.html">Exit</a> Bandwidth</th>
            {% endif -%}
            {% if sorted_by_label == 'consensus_weight_fraction' -%}
                <th>Consensus Weight</th>
            {% else -%}
                <th>
                    <a href="networks-by-consensus-weight.html">Consensus Weight</a>
                </th>
            {% endif -%}
            {% if sorted_by_label == 'exit_count' -%}
                <th>
                    <a href="networks-by-guard-count.html">Guard</a> / <a href="networks-by-middle-count.html">Middle</a> / Exit
                </th>
            {% elif sorted_by_label == 'guard_count' -%}
                <th>
                    Guard / <a href="networks-by-middle-count.html">Middle</a> / <a href="networks-by-exit-count.html">Exit</a>
                </th>
            {% elif sorted_by_label == 'middle_count' -%}
                <th>
                    <a href="networks-by-guard-count.html">Guard</a> / Middle / <a href="networks-by-exit-count.html">Exit</a>
                </th>
            {% else -%}
                <th>
                    <a href="networks-by-guard-count.html">Guard</a> / <a href="networks-by-middle-count.html">Middle</a> / <a href="networks-by-exit-count.html">Exit</a>
                </th>
            {% endif -%}
        </tr>
        <tbody>
            {% for k, v in relays.json['sorted']['as'].items()|sort(attribute=sorted_by,
                reverse=True) -%}
                <tr>
                    {% set obs_unit = relays._determine_unit(v['bandwidth']) -%}
                    {% set obs_bandwidth = relays._format_bandwidth_with_unit(v['bandwidth'], obs_unit) -%}
                    {% set guard_bw = relays._format_bandwidth_with_unit(v['guard_bandwidth'], obs_unit) -%}
                    {% set middle_bw = relays._format_bandwidth_with_unit(v['middle_bandwidth'], obs_unit) -%}
                    {% set exit_bw = relays._format_bandwidth_with_unit(v['exit_bandwidth'], obs_unit) -%}
                    <td>
                        <a href="{{ path_prefix }}as/{{ k|escape }}/">{{ k|escape }}</a>
                    </td>
                    {% if v['as_name'] -%}
                        <td title="{{ v['as_name']|escape }}">
                            <a href="https://bgp.tools/{{ k|escape }}">{{ v['as_name']|truncate(20)|escape }}</a>
                        </td>
                    {% else -%}
                        <td>Unknown</td>
                    {% endif -%}
                    {% if v['country'] -%}
                        <td>
                            <a href="{{ path_prefix }}country/{{ v['country']|escape }}/">
                                <img src="{{ path_prefix }}static/images/cc/{{ v['country']|escape }}.png"
                                     title="{{ v['country_name']|escape }}"
                                     alt="{{ v['country_name']|escape }}">
                            </a>
                        </td>
                    {% else -%}
                        <td>X</td>
                    {% endif -%}
                    {% if v['bandwidth'] == 0 -%}
                        <td>0 / 0 / 0 / 0 {{ obs_unit }}</td>
                    {% else -%}
                        <td>{{ obs_bandwidth }} / {{ guard_bw }} / {{ middle_bw }} / {{ exit_bw }} {{ obs_unit }}</td>
                    {% endif -%}
                    <td>{{ "%.2f%%"|format(v['consensus_weight_fraction'] * 100)|default('N/A') }}</td>
                    <td>{{ v['guard_count'] }} / {{ v['middle_count'] }} / {{ v['exit_count'] }}</td>
                </tr>
            {% endfor -%}
        </tbody>
    </table>
{% endblock -%}
